#hometitle {
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 128, 2);
    padding: 10px;
    margin-top: 0;
    text-decoration-line: underline;
    }


body {
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: yellow;
}

.chkanbroc {
    color: #a400b3;
}

.grndbfnrce {
    color: hsl(234, 90%, 38%);
}

.shrmpscmp {
    color: red;
}
